* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
}

/* Topbar */
.topbar {
  height: 60px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* left-right spread */
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 170px;
  height: 100vh;
  background: #1a1a1a;
  padding-top: 50px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.link {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.link:hover {
  background: #333;
}
.linKheading {
  color: tomato;           /* soft yellow */
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 15px 18px;
  display: block;
  border-bottom: 1px solid #333;
  text-shadow: 10px 10px 10px black;
}
/* Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* Content */
.content {
  height: calc(100vh - 60px);
  overflow: hidden;
}
.dashboard {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/* Background Image with blur */
.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://dl.dir.freefiremobile.com/common/web_event/official2.ff.garena.all/202210/aa959aa3d8790d3a44f7f20f16adfa01.jpg");
  background-size: cover;       /* cover entire area */
  background-position: center;  /* center the image */
  background-repeat: no-repeat;
  filter: blur(2px);            /* adjust blur */
  z-index: 1;
}
/* Content above background */
.dashboard h1 {
  position: relative;
  z-index: 2;
  color: #fff700; /* neon yellow */ 
  text-shadow: 10px 10px 10px black;
  font-size: 48px;
  text-shadow: 0 0 10px black;
  white-space: nowrap;           /* text ek line me rahe */
  display: inline-block;
  animation: marquee 10s linear infinite;  /* duration + timing + repeat */
}

/* Keyframes */
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
