body{
  margin:0;
  background:#e9eef4;
  font-family:Segoe UI, sans-serif;
}
.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  width:340px;
  padding:28px;
  border-radius:25px;
  background:#e9eef4;
  box-shadow: 12px 12px 25px #cfd3d8,-12px -12px 25px #ffffff;
  text-align:center;
}
.icon{
  width:70px;
  height:70px;
  border-radius:50%;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: inset 6px 6px 12px #cfd3d8,inset -6px -6px 12px #ffffff;
}
h2{ color:#3a4250 }
p{ color:#7a7f8c; font-size:14px }

.inputBox{
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px;
  margin:12px 0;
  border-radius:14px;
  background:#e9eef4;
  box-shadow: inset 5px 5px 10px #cfd3d8,
              inset -5px -5px 10px #ffffff;
}
.inputBox input{
  border:none;
  outline:none;
  background:transparent;
  width:100%;
}
.row{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  color:#6b7280;
}
button{
  width:100%;
  padding:14px;
  margin-top:18px;
  border:none;
  border-radius:16px;
  background:#e9eef4;
  font-weight:600;
  box-shadow: 6px 6px 12px #cfd3d8,
             -6px -6px 12px #ffffff;
}
.or{
  margin-top:25px;
}
.social{
  display:flex;
  justify-content:center;
  gap:15px;
}
.social div{
  width:45px;
  height:45px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 5px 5px 10px #cfd3d8,
             -5px -5px 10px #ffffff;
}
.signup span{ font-weight:600 }

/* SUCCESS ANIMATION */
.success{
  animation:fade 0.4s ease;
}
.circle{
  width:90px;
  height:90px;
  min-width: auto;
  border-radius:50%;
  border:4px solid #00c853;
  margin:30px auto;
  position:relative;
  box-shadow:0 0 20px #00c853;
  animation:pop 0.6s ease;
}
.tick{
  position:absolute;
  width:22px;
  height:45px;
  border-right:5px solid #00c853;
  border-bottom:5px solid #00c853;
  transform:rotate(45deg);
  left:32px;
  top:16px;
}
@keyframes pop{
  from{transform:scale(0)}
  to{transform:scale(1)}
}
@keyframes fade{
  from{opacity:0}
  to{opacity:1}
}
