* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.regcontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #232526, #414345);

}
.regbox {
  width: 97%;
  max-width: 500px;
  background: #fff;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 20px rgba(220, 243, 9, 0.15);
  background: linear-gradient(135deg, #232526, #414345);
}
.regbox .regster{
  text-align: center;
  color: #ff9f00;
  font-family: 'Orbitron',ans-serif;
  font-size: 45px;
  margin-bottom: 30px;
  text-shadow: 10px 10px 10px black;
}
.regbox label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: lightcoral;
}
.inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 18px;
}
.inputbox .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}
.inputbox input {
  width: 100%;
  padding: 21px 21px 21px 40px;
  border-radius: 10px;
  border: 1px solid lightcoral;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
  background: linear-gradient(135deg, #232526, #414345);
  color: white;
}
.inputbox input:focus {
  color: white;
  background: linear-gradient(135deg, #232526, #414345);
  box-shadow: 0px 0px 6px rgba(30, 221, 13, 0.3);
}
.regbox .registerbtn{
  width: 46%;
  font-size: 18px;
  padding:20px;
  margin-top: 20px;
  border-radius: 6px;
  border: none;
  background:linear-gradient(90deg,#ff004f,#ff6a00);  cursor: pointer;
  color: white;
}
.regbox .allready{
  float: right;
  width: 46%;
  margin-top: 20px;
  font-size: 18px;
  padding-top:20px;
  padding-bottom: 20px;
  border-radius: 6px;
  border: none;
  background:linear-gradient(90deg,#ff004f,#ff6a00);  cursor: pointer;
  color: white;
}
.regbox .showbtn{
  position: absolute;
  margin-top: 13px;
  margin-left: -40px;
  font-size: 20px;
  background: none;
  border: none;
  color: whitesmoke;
}
.regbox .allready:hover{
  transform: scale(1.03);
}
.regbox .registerbtn:hover{
  transform: scale(1.03);
}
.errormessa{
  margin-bottom: 15px;
  font-size: 13px;
}
