body{
  margin:0;
  background:#e9eef4;
  font-family:Segoe UI, sans-serif;
}
.container1{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.card1{
  width:340px;
  padding:28px;
  border-radius:25px;
  background:#e9eef4;
  box-shadow: 12px 12px 25px #cfd3d8,-12px -12px 25px #ffffff;
  text-align:center;
}
.icon1{
  width:70px;
  height:70px;
  border-radius:50%;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: inset 6px 6px 12px #cfd3d8,inset -6px -6px 12px #ffffff;
  font-size: 35px;
  padding-bottom: 10px;
}
h2{ color:#3a4250 }
p{ color:#7a7f8c; font-size:14px }
label{
  display: block;  
  padding-top: 10px;     /* make label full width */
  text-align: left;     /* align text to left */
  margin-bottom: -10px;   /* optional spacing from input */
  font-weight: 600;     /* optional */
  font-size: 15px;
}
.inputBox1{
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px;
  margin:12px 0;
  border-radius:14px;
  background:#e9eef4;
  box-shadow: inset 5px 5px 10px #cfd3d8,inset -5px -5px 10px #ffffff;
}
.inputBox1 input{
  border:none;
  outline:none;
  background:transparent;
  width:100%;
}
.btnlogin1{
  width:40%;
  float: left;
  padding:14px;
  margin-top:18px;
  border:none;
  border-radius:16px;
  background:#e9eef4;
  font-weight:600;
  box-shadow: 6px 6px 12px #cfd3d8,-6px -6px 12px #ffffff;
}
.btnlogin2{
  width:40%;
  padding:14px;
  float: right;
  margin-top:18px;
  border:none;
  border-radius:16px;
  background:#e9eef4;
  font-weight:600;
  box-shadow: 6px 6px 12px #cfd3d8,-6px -6px 12px #ffffff;
}
.Errormessa{
  float: left;
  font-size: 13px;
  position: absolute;
}
.successBox{
  height:260px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  animation: fadeIn 0.6s ease-in-out;
}

.successCircle{
  width:80px;
  height:80px;
  margin-bottom: 20px;
  border-radius:50%;
  background:#4CAF50;
  color:white;
  font-size:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  animation: pop 0.6s ease;
}

@keyframes pop{
  0%{transform:scale(0)}
  70%{transform:scale(1.2)}
  100%{transform:scale(1)}
}

@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}
